@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom,#6ab7f5, #fff);
    min-height: 100vh;
}

header {
  background-color: #c70825;
  color: white;
  padding: 1rem;
  text-align: center;
  border-bottom: 6px solid #2d3436;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px #2d3436;
}


.menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 1.2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.menu a {
  text-decoration: none;
  background-color: #fbc02d;
  color: #2d3436;
  padding: 0.6rem 1.2rem;
  border-radius: 12px;
  font-weight: bold;
  border: 2px solid #2d3436;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #fff176;
  transform: scale(1.05);
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px ;
}

.pokemon_imagem {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.pokemon_data {
   position: absolute; 
   font-weight: 600;
   color: #aaa;
   top: 54.5%;
   right: 27%;
   font-size: clamp(8px, 5vw, 25px);
}

.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

#formulario{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5%;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

a{
    text-decoration: none;
    color: rgb(183, 8, 28);
}

